<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		
		<h1>Home</h1>
		<h2>Your path to become Node.JS Developer</h2>
		<%- include('./partials/nav.ejs') %>
		<div class="blogs content">
			<h2>All Blogs</h2>
			<% if (blogs.length > 0) { %>
				<% blogs.forEach(blog => {%>
				
				<h2 class="title" ><%= blog.title %></h2>
				<p class="snippet"><%= blog.snippet %></p>
				<% }) %>
				<% }else { %>
				
				
				<p>There are no blogs available...</p>
				<% } %>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>